<script src="./js/jquery.mask.js"></script>
<link
rel="stylesheet"
href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
/>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<form class="modal" id="modal_adicionar_cliente">
  <h3>Adicionar <strong>Novo Cliente:</strong></h3>
  <div class="input_father_duo">

  <div class="input_father_single width_70">
    <label for="nome_cliente">Nome do Cliente:</label>
    <input type="text" name="nome_cliente" id="nome_cliente">
  </div>
  <div class="input_father_single width_28">
    <label for="cnh_cliente">CNH:</label>
    <input type="text" name="cnh_cliente" id="cnh_cliente">
  </div>
  </div>
  <div class="input_father_duo">
    <div class="input_father_single width_28">
      <label for="tel_cliente">Telefone:</label>
      <input type="text" name="tel_cliente" id="tel_cliente">
    </div>
    <div class="input_father_single width_70">
      <label for="email_cliente ">Email:</label>
      <input type="text" name="email_cliente" id="email_cliente">
    </div>
  </div>
  <div class="input_father_duo">
    <div class="input_father_single">
      <label for="cpf_cliente">CPF ou CNPJ:</label>
      <input type="text" name="cpf_cliente" id="cpf_cliente">
    </div>
    <div class="input_father_single">
      <label for="vencimento_cliente">Vencimento CNH:</label>
      <input type="text" name="vencimento_cliente" id="vencimento_cliente">
    </div>
  </div>
  <div class="images_father">
    <div class="header_images">
    
    <label >Fotos de Documentos:<br><span>* Adicione fotos legíveis com frente e verso.</span> </label>
      <label id="label_input_files" for="fotos_documentos">Adicionar Documento</label>
      <input  accept="image/*" type="file" name="fotos_documentos" multiple id="fotos_documentos">
    </div>
    <div id="images_clientes_father">
    
    </div>
  </div>
  <div id="button_father_add_cliente">
    <button>Salvar Cliente</button>
  </div>
</form>
<div class="header_options_page">
  <div class="header_options_parent">
    <h3>Métricas Clientes</h3>
    <span>Clientes criados no mês: <red>25 Clientes</red></span>
    <span>Processos deferidos no mês: <red>15 Processos</red></span>
    <span>Processos em análise: <red>15 Processos</red></span>
  </div>
  <div class="header_options_parent">
    <label for="">Buscar Clientes:</label>

    <div class="input_search_father">
      <input
        type="text"
        name="buscar_clientes_processos"
        id="buscar_clientes_processos"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="header_options_parent">
    <button onclick="   resetInsertCliente();$('#modal_adicionar_cliente').attr('id_cliente',0);$('#modal_adicionar_cliente h3').html('Adicionar <strong>Novo Cliente:</strong>');abrirModal('modal_adicionar_cliente')">Adicionar Cliente</button>
  </div>
</div>
<!-- <div id="filter_clientes">
  <button status=null class="selected_filter">Todos os Processos</button>
  <button status="1" >Status Deferido</button>
  <button status="0">Em Processo</button>
</div> -->
<section id="cards_father">


</section>

<script src="./js/meus_clientes.js"></script>
