<form class="modal" id="modal_adicionar_cliente">
  <h3>Adicionar <strong>Novo Cliente:</strong></h3>
  <div class="input_father_single">
    <label for="nome_cliente">Nome do Cliente:</label>
    <input type="text" name="nome_cliente" id="nome_cliente">
  </div>
  <div class="input_father_duo">
    <div class="input_father_single">
      <label for="tel_cliente">Telefone:</label>
      <input type="text" name="tel_cliente" id="tel_cliente">
    </div>
    <div class="input_father_single">
      <label for="email_cliente">Email:</label>
      <input type="text" name="email_cliente" id="email_cliente">
    </div>
  </div>
  <div class="input_father_duo">
    <div class="input_father_single">
      <label for="cpf_cliente">CPF ou CNPJ:</label>
      <input type="text" name="cpf_cliente" id="cpf_cliente">
    </div>
    <div class="input_father_single">
      <label for="vencimento_cliente">Vencimento:</label>
      <input type="text" name="vencimento_cliente" id="vencimento_cliente">
    </div>
  </div>
  <div class="images_father">
    <div class="header_images">
      
    </div>
  </div>
</form>
<div class="header_options_page">
  <div class="header_options_parent">
    <h3>Métricas Clientes</h3>
    <span>Clientes criados no mês: <red>25 Clientes</red></span>
    <span>Processos deferidos no mês: <red>15 Processos</red></span>
    <span>Processos em análise: <red>15 Processos</red></span>
  </div>
  <div class="header_options_parent">
    <label for="">Buscar Clientes:</label>

    <div class="input_search_father">
      <input
        type="text"
        name="buscar_clientes_processos"
        id="buscar_clientes_processos"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="header_options_parent">
    <button>Adicionar Cliente</button>
  </div>
</div>
<!-- <div id="filter_clientes">
  <button status=null class="selected_filter">Todos os Processos</button>
  <button status="1" >Status Deferido</button>
  <button status="0">Em Processo</button>
</div> -->
<section id="cards_father">

  <% 
      function formatarData(target_data) {
        let data = new Date(target_data);
        let dia = data.getDate();
        let mes = data.getMonth() + 1; 
       dia = dia < 10 ? '0' + dia : dia;
        mes = mes < 10 ? '0' + mes : mes;
        let ano = data.getFullYear();
      let dataFormatada = dia + '/' + mes + '/' + ano;
      return dataFormatada

      }
  console.log(attributes)
  attributes.forEach(element => {

    let dataFormatada = formatarData(element.vencimento_cnh)
    %>
    <div class="card">
      <div class="name_header_card">
      <h4><%=element.nome %> </h4>
      <i class="fa-regular fa-trash-can"></i>
        </div>
      <div>
        <red>CNH:</red>
        <span><%=element.cnh %></span>
      </div>
      <div>
        <red>Data de Vencimento:</red>
        <span><%=dataFormatada %></span>
      </div>
      <div>
        <red>Total de Processos:</red>
        <span><%=element.numero_processos %> processo(s)</span>
      </div>
      <a href="">Ver Mais Informações</a>
    </div>
  <%}); %>

</section>

<script src="./js/meus_clientes.js"></script>
