<link
rel="stylesheet"
href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
/>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<div class="modal" id="assinatura_father">
  <div class="close_modal_father">
    <i onclick="fecharModal()" class="fa-solid fa-xmark"></i>
  </div>
  <canvas id="sketchpad"></canvas>
  <div id="buttons_father_assinar">
    <button onclick="sketchpad.undo();">Desfazer</button>

    <button onclick="canvasToFile()">Assinar</button>
  </div>

</div>

<div class="modal" id="processosolicitado">
  <h3>Processo Soliciado <yellow>com Sucesso!</yellow></h3>
  <p>Sua solicitação foi enviada para nossa equipe,
    e estaremos analisando sua situação e entraremos
    em contato o mais rápido possível!</p>
  <button onclick="fecharModal()">Aguardar Contato</button>
</div>
<form class="modal" id="modal_add_status">
  <input type="hidden" value="0" id="id_status">
<div id="left_side">
  <div class="up_side">
    <h2>Status de Processo:</h2>
    <div class="status_father">
    <button>Deferido <i class="fa-solid fa-angle-right"></i></button>
    </div>
  </div>

<span>Criar Novo Status</span>
</div>
<div id="right_side">
  <div class="icon_trash">
    <i id="delete_status_pre" class="fa-regular fa-trash-can"></i>
  </div>
  <div class="input_father_double">
    <div class="input_father">
      <label for="nome_status">Node do Status:</label>
      <input type="text" name="nome_status" id="nome_status">
    </div>
    <div class="input_color_father">
      <span for="cor_status">Cor Status:</span>
      <label for="cor_status"></label>
      <input type="color" name="cor_status" id="cor_status">
    </div>
  </div>
  <h2>Mensagem do Status:</h2>
  <span>Variáveis:</span>
  <div class="buttons_variables">
    <button type="button">Nome do Cliente</button>
    <button type="button">Processo</button>
    <button type="button">Status</button>
  </div>
  <textarea name="mensagem_status" id="mensagem_status" cols="30" rows="10"></textarea>
  <div class="button_father">
    <button>Salvar Status</button>
  </div>
</div>
</form>
<form class="modal" id="modal_add_processo" action="">
  <input type="hidden" id="editando_processo" id_processo="">
  <input type="hidden" name="" id="id_cliente_selecionado" />

  <div class="left_side_form">
    <h5 onclick="location.href='ProcessosCliente'">< Voltar para Listagem de Processos.</h5>
    <h2>Cadastrar Processo:</h2>
    <div class="input_father">
      <label for="nome_processo_add">Nome Processo:</label>
      <input
        type="text"
        name="nome_processo_add"
        id="nome_processo_add"
        placeholder="Digite o Nome do Processo"
      />
    </div>
    <div class="double_input_father">
      <div class="input_father">
        <label for="nome_processo_add">Placa do Veículo:</label>
        <input
          type="text"
          name="placa_processo"
          id="placa_processo"
          placeholder="Digite o Nome do Processo"
        />
      </div>
      <div class="input_father">
        <label for="select_cliente">Selecione o Cliente:</label>
        <input
          type="text"
          name="select_cliente"
          id="select_cliente"
          placeholder="Digite o Nome ou Documento do Cliente"
        />
      </div>
    </div>

    <div class="input_files_column">
      <div class="input_files_area">
        <h4>Certificado de Registro e Licenciamento de Veículo (CRLV):</h4>
        <div class="files_parent">
          <div id="crlv_files" class="files"></div>

          <div class="inputs_files">
            <label for="fotos_crlv"
              >
            
            <input
              files_father="crlv_files"
              type="file"
              name="fotos_crlv"
              id="fotos_crlv"
              multiple
            />
            <span
              id="remover_fotos_crlv"
              class="remover_fotos"
              files_father="crlv_files"
              >
            </span>
          </div>
        </div>
      </div>
      <div class="input_files_area">
        <h4>Notificação de Autuação:</h4>
        <div class="files_parent">
          <div id="notificacao_atuacao" class="files"></div>

          <div class="inputs_files">
            <label for="notificacao_atuacao_input"
              >
            
            <input
              files_father="notificacao_atuacao"
              type="file"
              name="notificacao_atuacao_input"
              id="notificacao_atuacao_input"
              multiple
            />
            <span
              id="remover_fotos_notificacao_atuacao"
              class="remover_fotos"
              files_father="notificacao_atuacao"
              >
            </span>
          </div>
        </div>
      </div>
      <div class="input_files_area">
        <h4>Outros documentos:</h4>
        <div class="files_parent">
          <div id="outros_documentos" class="files"></div>

          <div class="inputs_files">
            <label for="outros_documentos_input"
              >
            
            <input
              files_father="outros_documentos"
              type="file"
              name="outros_documentos_input"
              id="outros_documentos_input"
              multiple
            />
            <span
              id="remover_fotos_outros_documentos"
              class="remover_fotos"
              files_father="outros_documentos"
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right_side_form">
    <div class="info_cliente_father">
      <div class="infos_cliente">
        <h2>Informações do Cliente:</h2>
        <span>Whatsapp: <strong class="whatsapp"></strong></span>
        <span>Documento: <strong  class="cpf"></strong></span>
        <h3>Visualizar Documentos:</h3>
        <div class="imagens_father"></div>
      </div>
      <div class="loading_clientes">

      </div>
    </div>
    <span
      >Status do Processo:
      <select id="status_processo_criado">

      </select></span
    >
    <span class="edit_info">Data Criação: <strong class="data_criacao">03/04/2024 09h36</strong></span>
    <span  class="edit_info">Ult. Atualização: <strong  class="ult_atualizacao">03/04/2024 09h36</strong></span>
    <button>Salvar Processo</button>
  </div>
</form>
<div class="header_options_page">
    <div class="header_options_parent">
      <h3>Métricas Processos:</h3>
      <span>Processos Solicitados: <red>15 Processos</red></span>
      <span>Último Status enviado: <red>Em JARI</red></span>
    </div>
    <div class="header_options_parent">
      <label for="">Buscar Processo:</label>
  
      <div class="input_search_father">
        <input
        placeholder="Digite o nome do processo..."
          type="text"
          name="buscar_clientes_processos"
          id="buscar_clientes_processos"
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
    <div class="header_options_parent">
      <button onclick=" confirmarSolicitarProcesso()">Solicitar Processo</button>
    </div>
  </div>
  <form class="modal" id="modal_adicionar_processo_cliente">
    <h3>Adicionar <strong>Novo Processo:</strong></h3>
    <div class="input_father_duo">
  
    <div class="input_father_single width_70">
      <label for="nome_cliente">Nome do Cliente:</label>
      <input type="text" name="nome_cliente" id="nome_cliente">
    </div>
    <div class="input_father_single width_28">
      <label for="cnh_cliente">CNH:</label>
      <input type="text" name="cnh_cliente" id="cnh_cliente">
    </div>
    </div>
    <div class="input_father_duo">
      <div class="input_father_single width_28">
        <label for="tel_cliente">Telefone:</label>
        <input type="text" name="tel_cliente" id="tel_cliente">
      </div>
      <div class="input_father_single width_70">
        <label for="email_cliente ">Email:</label>
        <input type="text" name="email_cliente" id="email_cliente">
      </div>
    </div>
    <div class="input_father_duo">
      <div class="input_father_single">
        <label for="cpf_cliente">CPF ou CNPJ:</label>
        <input type="text" name="cpf_cliente" id="cpf_cliente">
      </div>
      <div class="input_father_single">
        <label for="vencimento_cliente">Vencimento CNH:</label>
        <input type="text" name="vencimento_cliente" id="vencimento_cliente">
      </div>
    </div>
    <div class="images_father">
      <div class="header_images">
      
      <label >Fotos de Documentos:<br><span>* Adicione fotos legíveis com frente e verso.</span> </label>
        <label id="label_input_files" for="fotos_documentos">Adicionar Documento</label>
        <input  accept="image/*" type="file" name="fotos_documentos" multiple id="fotos_documentos">
      </div>
      <div id="images_clientes_father">
      
      </div>
    </div>
    <div id="button_father_add_cliente">
      <button>Salvar Cliente</button>
    </div>

  </form>
  <section id="cards_father">


  </section>
<script src="./js/processoscliente.js"></script>
